
.home {

  display: grid;
  grid-template-columns: 20% 1fr 0.5fr;
  gap: 2rem;
  margin: 25px 10px;

  &__th-actions {
    text-align: center;
  }

  &__user-list {
    // max-width: 600px;

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      margin-bottom: 15px;

      td, th {
        padding: 12px 15px;
      }

      thead {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        cursor: pointer;
      }

      tbody {

        tr {
          border-bottom: 1px solid #dddddd;
        }

        tr:nth-of-type(even) {
          background-color: #f3f3f3;
        }

        tr:last-of-type {
          border-bottom: 2px solid #009879;
        }

        button {
          width: 50px;
          margin: 2px 2px;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    list-style: none;
    padding: 5px;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30px;
    font-family: sans-serif;

    .item-active {
      border: 1px solid #009879;
      border-radius: .5rem;
    }

    & > * {
      padding: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }

    & :hover {
      background: #009879;
      color: #fff;
      border-radius: .5rem;
    }
  }

  &__filter {
    height: fit-content;
    // min-width: 180px;
    background-color: #e3fdf3;
    color: #000;
    text-align: left;
    font-size: 0.9em;
    font-family: sans-serif;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px #7ae4cf;

    h2 {
      font-family: sans-serif;
      background-color: #009879;
      padding: 5px;
      text-align: left;
      color: #fff;
    }

    ul {

      input {
        position: absolute;
        right: 20px;
        padding: 10px;
      }

      input[type=checkbox] {

        // float: right;
        width: 42px;
        height: 17px;
        cursor: pointer;
        background-color: #fff;
        -webkit-appearance: none;
        border-radius: 8px;

        &:before {
          content: "";
          width: 21px;
          height: 21px;
          background-color: #F5F5F5;
          border-radius: 50%;
          position: absolute;
          top: -1px;
          left: -2px;
          transition: all .2s linear;
        }

        &:after {
          content: "";
          height: 100%;
          width: 17px;
          position: absolute;
          left: 0;
          z-index: 1;
          border-radius: 17px;
          transition: all .2s linear;
        }

        &:checked:before {
          left: calc(100% - 19px);
          background-color: #009879;
        }

        &:checked:after {
          width: 100%;
          border-radius: 8px;
        }
      }
    }

    li {
      padding: 12.5px;
      text-align: left;
      list-style: none;
    }
  }
}
